body {font-family: times new roman, serif}
a:link {color: #000099}
a:visited {color: #990000}
a:active {color: #006600}
div {width: 680px}
h3, h4, ul, ol, hr {display: block} 
h3 {text-align: center}
p {text-indent: 2em}
em {font-family: arial, helvetica, sans-serif; font-style: normal}
pre, tt {font-family: courier, monospace}
span {font-family: symbol}
a {text-decoration: none}