:root {
  --bg-dark: hsl(180 0% 10%);
  --shadow: hsl(240 10% 5%);
  --text: hsl(0 0 85%);
  --titles: hsl(0 0% 100%);
  --bg-light: hsl(0 40% 80%);
  --text-muted: hsl(0 0% 75%);
  --primary: hsl(0 40% 80%);
  --secondary: hsl(180 45% 50%);
  --danger: hsl(360 95% 60%);
  --warning: hsl(40 95% 60%);
  --success: hsl(80 95% 60%);
}

* {
  margin: 0px;
  padding: 0px; 
  border: 0px;
  font-size: 100%;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  color: inherit;
  background-color: inherit;
}

body {
  background-color: var(--bg-dark);
  font-size: 18px;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-wrap: pretty;
  color: var(--text);
}

h1, h2, h3, h4 {
  color: hsl(0 40% 20%);
}

h1 {
  font-size: 36px;
  font-weight: 900;
  font-family: "Times New Roman", serif;
}

p {
  margin-bottom: 12px;
}

ol {
  list-style-position: inside;
  margin-bottom: 12px;
}

li {
  padding-left: 24px;
}

a:hover {
  color: var(--primary);
}

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

#header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  color: hsl(0 40% 20%);
}

#header a:hover {
  color: black;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  padding: 8px;
}

#nav a {
  margin: 8px;
  text-decoration: none;
}

#body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 48px 0;
}

.about {
  grid-column: 2;
}

#footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px;
  font-size: 14px;
  background-color: hsl(180 0% 8%);
  box-shadow: 0px -8px 12px var(--shadow);
}

#license, #credit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 24px;
  width: auto;
  margin: 4px;
}

.shadow {
  box-shadow: 0px 8px 12px var(--shadow);
}
