body {font-family: times new roman, serif}
a:link {color: #000099}
a:visited {color: #990000}
a:active {color: #006600}
div {margin-left: 15px; width: 650px}
h4, h5, ul, ol, dl, dd, blockquote, pre, hr {display: block} 
h2, h4, h5 {text-align: center}
h5 {font-weight: normal}
p {text-indent: 15px}
em {font-family: arial, helvetica, sans-serif; font-style: normal}
pre, tt {font-family: courier, monospace}
span {font-family: symbol}
cite {font-style: italic}
a {text-decoration: none}